html,body{
    background-color: #f03816;
    margin: 0;
}
*{
    font-family: 'Montserrat', sans-serif;
    color: #f03816;
}
.main-container{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tick{
    position: absolute;
    border: 2px solid black;
    transform-origin: 0%;
    left: 50%;
}

#sec-tick{
    width: 160px;
    border-color: #ffcdd2;
}
#min-tick{
    width: 120px;
    border-color: #f44336;
}
#hour-tick{
    width: 90px;
    border-color: #b71c1c;
}
.clock{
    position: relative;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: infinite border-animation 1s;
    
}
.box-shadow-3d{
    box-shadow: 20px 40px 203px -70px rgba(0,0,0,1);
}
.clock-element{
    height: fit-content;
    position: absolute;
}
#one, #eleven {
    top: 40px;
}
#two, #ten{
    top: 100px;
}
#four , #eight{
    bottom: 100px;
}
#five, #seven{
    bottom: 40px;
}
#one{
    right: 100px;
}
#two{
    right: 40px;
}
#three{
    right: 10px;
}
#four{
    right: 40px;
}
#five{
    right: 100px;
}
#six{
    bottom: 10px;
}
#seven{
    left: 100px;
}
#eight{
    left: 40px;
}
#nine{
    left: 10px;
}
#ten{
    left: 40px;
}
#eleven{
    left: 100px;
}
#twelve{
    top: 10px;
}

.digital-clock{
    position: absolute;
    bottom: 4px;
    margin-top: 20px;
    background-color: white;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.digital-clock > span{
    margin: 5px;
}
#day{
    top: 10px;
    position: absolute;
    color: white;
    margin: 20px;
    font-size: 20px;
}


@media screen and (max-width:512px){
    .clock{
        height: 300px;
        width: 300px;
    }
    .digital-clock{
        bottom: 15px;
    }
    #one, #eleven {
        top: 30px;
    }
    #two, #ten{
        top: 80px;
    }
    #four , #eight{
        bottom: 80px;
    }
    #five, #seven{
        bottom: 30px;
    }
    #one, #five{
        right: 80px;
    }
    #two, #four{
        right: 30px;
    }
    #three{
        right: 10px;
    }
    #six{
        bottom: 10px;
    }
    #seven, #eleven{
        left: 80px;
    }
    #eight, #ten{
        left: 30px;
    }
    #nine{
        left: 10px;
    }
    #twelve{
        top: 10px;
    }
    #sec-tick{
        width: 120px;
    }
    #min-tick{
        width: 100px;
    }
    #hour-tick{
        width: 70px;
    }
    
}


@keyframes border-animation {
    0%{
        border: 0px solid rgb(223, 63, 45);
    }
    7%{
        border: 2px solid rgb(223, 63, 45);
    }
    14%{
        border: 4px solid rgb(223, 63, 45);
    }
    21%{
        border: 6px solid rgb(223, 63, 45);
    }
    28%{
        border: 8px solid rgb(223, 63, 45);
    }
    35%{
        border: 10px solid rgb(223, 63, 45);
    }
    42%{
        border: 12px solid rgb(223, 63, 45);
    }
    49%{
        border: 14px solid rgb(223, 63, 45);
    }
    56%{
        border: 12px solid rgb(223, 63, 45);
    }
    63%{
        border: 10px solid rgb(223, 63, 45);
    }
    70%{
        border: 8px solid rgb(223, 63, 45);
    }
    77%{
        border: 6px solid rgb(223, 63, 45);
    }
    86%{
        border: 4px solid rgb(223, 63, 45);
    }
    93%{
        border: 2px solid rgb(223, 63, 45);
    }
    100%{
        border: 0px solid rgb(223, 63, 45);
    }
  
}